Part 2 Web scrapping of Population and Demographics data of New York city from Wikipedia
A : POPULATION DATA
Web scrapping of Population data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

In [1]:
#Download all the dependencies that is needed.

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# conda install -c anaconda beautiful-soup --yes
from bs4 import BeautifulSoup # package for parsing HTML and XML documents

import csv # implements classes to read and write tabular data in CSV form

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Libraries imported.

In [2]:
#Web scrapping of Population data from wikipedia page using BeautifulSoup.
#Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.

website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

In [50]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data

,New York City's five boroughsvte,Jurisdiction,Population,Gross Domestic Product,Land area,Density,Borough,County,Estimate (2018)[12],billions(US$)[13],per capita(US$),square miles,squarekm,persons / sq. mi,persons /km2
0,The Bronx\n,\n Bronx\n,"1,432,132\n",42.695\n,"29,200\n",42.10\n,109.04\n,"34,653\n","13,231\n",NaN,NaN,NaN,NaN,NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,582,830\n",91.559\n,"34,600\n",70.82\n,183.42\n,"37,137\n","14,649\n",NaN,NaN,NaN,NaN,NaN,NaN
2,Manhattan\n,\n New York\n,"1,628,701\n",600.244\n,"360,900\n",22.83\n,59.13\n,"72,033\n","27,826\n",NaN,NaN,NaN,NaN,NaN,NaN
3,Queens\n,\n Queens\n,"2,278,906\n",93.310\n,"39,600\n",108.53\n,281.09\n,"21,460\n","8,354\n",NaN,NaN,NaN,NaN,NaN,NaN
4,Staten Island\n,\n Richmond\n,"476,179\n",14.514\n,"30,300\n",58.37\n,151.18\n,"8,112\n","3,132\n",NaN,NaN,NaN,NaN,NaN,NaN
5,City of New York,"8,398,748",842.343,"97,700",302.64,783.83,"28,188","10,947\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,State of New York,"19,745,289","1,701.399","85,700","47,214","122,284",416.4,159\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
#Load data from CSV

Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data.drop(Pop_data.columns[[3,8,9,10,11,12,13,14]], axis=1,inplace=True)
print('Data downloaded!')
Pop_data

Data downloaded!

,New York City's five boroughsvte,Jurisdiction,Population,Land area,Density,Borough,County
0,The Bronx\n,\n Bronx\n,"1,432,132\n","29,200\n",42.10\n,109.04\n,"34,653\n"
1,Brooklyn\n,\n Kings\n,"2,582,830\n","34,600\n",70.82\n,183.42\n,"37,137\n"
2,Manhattan\n,\n New York\n,"1,628,701\n","360,900\n",22.83\n,59.13\n,"72,033\n"
3,Queens\n,\n Queens\n,"2,278,906\n","39,600\n",108.53\n,281.09\n,"21,460\n"
4,Staten Island\n,\n Richmond\n,"476,179\n","30,300\n",58.37\n,151.18\n,"8,112\n"
5,City of New York,"8,398,748",842.343,302.64,783.83,"28,188","10,947\n"
6,State of New York,"19,745,289","1,701.399","47,214","122,284",416.4,159\n
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
#Remove whitespaces and rename columns¶

Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte,Jurisdiction,Population,Landarea,Density,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,432,132\n","29,200\n",42.10\n,109.04\n,"34,653\n"
1,Brooklyn\n,\n Kings\n,"2,582,830\n","34,600\n",70.82\n,183.42\n,"37,137\n"
2,Manhattan\n,\n New York\n,"1,628,701\n","360,900\n",22.83\n,59.13\n,"72,033\n"
3,Queens\n,\n Queens\n,"2,278,906\n","39,600\n",108.53\n,281.09\n,"21,460\n"
4,Staten Island\n,\n Richmond\n,"476,179\n","30,300\n",58.37\n,151.18\n,"8,112\n"
5,City of New York,"8,398,748",842.343,302.64,783.83,"28,188","10,947\n"
6,State of New York,"19,745,289","1,701.399","47,214","122,284",416.4,159\n
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2017', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,432,132\n","29,200\n",42.10\n,109.04\n,"34,653\n"
1,Brooklyn\n,\n Kings\n,"2,582,830\n","34,600\n",70.82\n,183.42\n,"37,137\n"
2,Manhattan\n,\n New York\n,"1,628,701\n","360,900\n",22.83\n,59.13\n,"72,033\n"
3,Queens\n,\n Queens\n,"2,278,906\n","39,600\n",108.53\n,281.09\n,"21,460\n"
4,Staten Island\n,\n Richmond\n,"476,179\n","30,300\n",58.37\n,151.18\n,"8,112\n"
5,City of New York,"8,398,748",842.343,302.64,783.83,"28,188","10,947\n"
6,State of New York,"19,745,289","1,701.399","47,214","122,284",416.4,159\n
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
#Replace newline('\n') from each string from left and right sides¶

Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Estimate_2017']=Pop_data['Estimate_2017'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_miles']=Pop_data['square_miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_km']=Pop_data['square_km'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_mi']=Pop_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_km']=Pop_data['persons_sq_km'].replace(to_replace='\n', value='', regex=True)
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,432,132","29,200",42.10,109.04,"34,653"
1,Brooklyn,Kings,"2,582,830","34,600",70.82,183.42,"37,137"
2,Manhattan,New York,"1,628,701","360,900",22.83,59.13,"72,033"
3,Queens,Queens,"2,278,906","39,600",108.53,281.09,"21,460"
4,Staten Island,Richmond,"476,179","30,300",58.37,151.18,"8,112"
5,City of New York,"8,398,748",842.343,302.64,783.83,"28,188","10,947"
6,State of New York,"19,745,289","1,701.399","47,214","122,284",416.4,159
7,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Shift data in the last two rows¶

Pop_data.loc[5:,['persons_sq_mi','squarekm']] = Pop_data.loc[2:,['persons_sq_mi','persons_sq_km']].shift(1,axis=1)
Pop_data.loc[5:,['square_km','persons_sq_mi']] = Pop_data.loc[2:,['square_km','persons_sq_mi']].shift(1,axis=1)
Pop_data.loc[5:,['square_miles','square_km']] = Pop_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
Pop_data.loc[5:,['Estimate_2017','square_miles']] = Pop_data.loc[2:,['Estimate_2017','square_miles']].shift(1,axis=1)
Pop_data.loc[5:,['County','Estimate_2017']] = Pop_data.loc[2:,['County','Estimate_2017']].shift(1,axis=1)
Pop_data.loc[5:,['Borough','County']] = Pop_data.loc[2:,['Borough','County']].shift(1,axis=1)
Pop_data

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/km2
0,The Bronx,Bronx,"1,432,132",42.695\n,"29,200",42.10,109.04,NaN,NaN,NaN
1,Brooklyn,Kings,"2,582,830",91.559\n,"34,600",70.82,183.42,NaN,NaN,NaN
2,Manhattan,New York,"1,628,701",600.244\n,"360,900",22.83,59.13,NaN,NaN,NaN
3,Queens,Queens,"2,278,906",93.310\n,"39,600",108.53,281.09,NaN,NaN,NaN
4,Staten Island,Richmond,"476,179",14.514\n,"30,300",58.37,151.18,NaN,NaN,NaN
5,NaN,City of New York,"8,398,748","97,700",842.343,302.64,783.83,NaN,NaN,NaN
6,NaN,State of New York,"19,745,289","85,700","1,701.399","47,214","122,284",NaN,NaN,NaN
7,NaN,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
#Remove 'NAN'

Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,432,132","29,200",42.10,109.04,"34,653"
1,Brooklyn,Kings,"2,582,830","34,600",70.82,183.42,"37,137"
2,Manhattan,New York,"1,628,701","360,900",22.83,59.13,"72,033"
3,Queens,Queens,"2,278,906","39,600",108.53,281.09,"21,460"
4,Staten Island,Richmond,"476,179","30,300",58.37,151.18,"8,112"
5,City of New York,"8,398,748",842.343,302.64,783.83,"28,188","10,947"
6,State of New York,"19,745,289","1,701.399","47,214","122,284",416.4,159
7,Sources:[14] and see individual borough articles,,,,,,

In [82]:
#Drop the last row¶

i = Pop_data[((Pop_data.County == 'Sources: [2] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2017,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,432,132","29,200",42.10,109.04,"34,653"
1,Brooklyn,Kings,"2,582,830","34,600",70.82,183.42,"37,137"
2,Manhattan,New York,"1,628,701","360,900",22.83,59.13,"72,033"
3,Queens,Queens,"2,278,906","39,600",108.53,281.09,"21,460"
4,Staten Island,Richmond,"476,179","30,300",58.37,151.18,"8,112"
5,City of New York,"8,398,748",842.343,302.64,783.83,"28,188","10,947"
6,State of New York,"19,745,289","1,701.399","47,214","122,284",416.4,159
7,Sources:[14] and see individual borough articles,,,,,,

In [91]:
#Save dataframe as csv file

Pop_data.to_csv('BON2_POPULATION.csv',index=False)

Download and Explore Farmers Market dataset